body{
background-color: rgb(44, 40, 40);
}
h1{
  color: #e9e1e1;
  text-align: center;

}
.buySelectedSeats:hover{
background-color: #00685b;
display:flex;
top: 100px;
left: 200px;

}

.seats-container {
    display: flex;
    border-top: 400px;
    right: 1000px;
    left: 100px;
    padding-left: 0px;
    padding-right: 1000px;
    padding-top: 0px;
    flex-wrap: wrap;
    gap: 10px;
    position:absolute;
    text-align: center;
}   
  
  .seat {
    
    width: 25px;
    height: 25px;
    background-color: lightgray;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .seat.selected {
    background-color: rgb(28, 149, 12);;
  }
  
  .seat.booked {
    background-color: rgb(166, 22, 22);
  }
  
  .SektionM{
    background-color: #00685b; /* Green - kører samme farve og placering som Stadion.png*/
    display: flex;
    width: 320px;
    height: 180px;
    left: 222px;
    top: 147px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border-left: 1px white solid;
    border-top: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
    transition: background-color 0.3s ease;

  }

  .SektionM:hover{
    background-color: rgb(190, 233, 183);
  }
  .M {
    left: 110px;
    top: 280px;
    position: absolute;
    color: white;
    font-size: 45px;
    font-family: Gravity;
    font-weight: 700;
    word-wrap: break-word
  }